@import "../../../scss/abstract/mixins";

.post {
  color: $text-color-2 !important;
  & p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    min-height: 100px;
    box-sizing: border-box;
  }
  & img {
   width: 100%;
   aspect-ratio: 3/2;
   object-fit: cover;
   border-radius: .4rem;
  }
}
